<div class= "container">

  <div class="box_basket">
    <div class="basket-header">
      My Basket
      <%= link_to bar_menu_items_path(@bar) do %>
        <i class="fas fa-times" id="back_cross"></i>
      <% end %>

    </div>
        <div class="item_box">
          <% total= 0  %>
          <% @basket.basket_items.each  do |item|   %>
            <div>
              <div class="item_main">
                <%= item.quantity  %>X <%= item.menu_item.name %> £<%= item.menu_item.price  %>
              </div>
              <div>
              Sub-total: £<%=(item.quantity * item.menu_item.price).round(2) %>
              <% total += item.quantity * item.menu_item.price  %>
              </div>
            </div>
            <br>
          <% end %>
        </div>
        <div class="total_price">
          <h2>Total: <%= total.round(2) %></h2>
        </div>

        <div>
          <%= simple_form_for([@bar, Order.new]) do |f| %>
            <%= f.input :table_id, collection: @bar.tables %>
            <%= f.input :notes %>
            <%= f.submit %>
          <% end %>

        <div>
          <%= link_to "Back", bar_menu_items_path(@bar), class: "btn btn-primary"  %>
        </div>


        <div>
           <%= link_to "Order", bar_orders_path(@bar ), method: :post, class: "nav-link"  %>
        </div>
  </div>
</div>
<!-- params[:user_id][:notes][:creation_time][:completion_time] [:table_id] -->
