<div class="container">

  <div class= "order-container">

    <div class="box_basket">
      <div class="basket-header">
        <%= link_to bar_menu_items_path(current_user) do %>
          <i class="fas fa-arrow-left"></i>
        <% end %>
        Your Basket
        <%= link_to root_path do %>
          <i class="fas fa-home"></i>
        <% end %>
      </div>
      <% if @bar  %>

        <div class="mhresp-order-show">
          <div class="list-order">
            <% @basket.basket_items.each  do |item|   %>
            <%= link_to edit_menu_item_basket_item_path(@basket, item, item: item.id), remote: true do  %>
            <div class="totals" data-basket-item-id="<%= item.id %>">
              <%= item.quantity  %>x <%= item.menu_item.name %>
              <% total= 0  %>

              £<%=(item.quantity * item.menu_item.price).round(2) %>
              <% total += item.quantity * item.menu_item.price  %>



            </div>
            <% end %>
            <% end %>
          </div>
        </div>



        <div class="subtotal">
          <% total= 0  %>
          <% @basket.basket_items.each  do |item|   %>
          <%(item.quantity * item.menu_item.price) %>
          <% total += item.quantity * item.menu_item.price  %>
          <% end %>
          <div class="sub">
            Subtotal
            <div class="sub-tot">£<%= total.round(2) %></div>
          </div>
          <div class="service">
            Service fee
            <div class="fee">50p</div>
          </div>

        </div>


        <div class="order-footer">

          <div class="forms">
            <%= simple_form_for([@bar, Order.new]) do |f| %>

              <%= f.input :table_id, collection: [1,2,3,4,5,6,7,8,9,10,], label: 'Do you have a table number?'%>
              <%= f.input :notes, class: "til-input", label: 'Additional information' %>
              <li class="items-total">
                <span>Total:</span>
                <span>£<%= total.round(2) + 0.5 %></span>

              </li>
              <%= button_tag(type: 'submit', class: 'checkout-button' ) do %>
                <%= image_tag "applepay.png", alt: "apple pay", class: 'applepay' %>
              <% end %>
              <%#= f.submit "#{image_tag 'applepay.png' }", class: "order sw-button" %>
            <% end %>

            <div>

        </div>
          </div>



        </div>

      <% else %>
        <div class="empty_basket_div">
          <h3 class="empty_basket">Your Basket is Empty!</h3>
        </div>

      <% end %>
    </div>

  </div>
  <div class="basket_item_field stickycool stickycool-edit" id="basket_item"></div>
</div>

<!-- params[:user_id][:notes][:creation_time][:completion_time] [:table_id] -->
