<div class="container">
  <h1>Edit product name:</h1>
  <%= simple_form_for @menu_item do |f| %>
    <%= f.input :name%>
    <%= f.input :price%>
    <%= f.input :description%>
    <%= f.input :ingredients  %>
    <%= f.input :bar_id, label: 'Bar' %>
    <br>
    <%= f.button :submit, class:"btn btn-primary"%>
  <% end %>
</div>


<!-- create_table "menu_items", force: :cascade do |t|
    t.string "name"
    t.float "price"
    t.text "description"
    t.string "ingredients"
    t.bigint "bar_id"
    t.bigint "template_item_id"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["bar_id"], name: "index_menu_items_on_bar_id"
    t.index ["template_item_id"], name: "index_menu_items_on_template_item_id"
  end -->
