basket_item_field = document.getElementById('basket_item');
body = document.querySelector('.opacitize');
basket_item_field.classList.remove("shrink");
body.classList.add("layer");





if (basket_item_field.classList.contains("hidden")) {
 basket_item_field.classList.remove("hidden")
}



while (basket_item_field.firstChild) {
  basket_item_field.firstChild.remove()
}

insertBasketItem = () => {
    basket_item =
    `
    <div class="adding-item">
      <button class="back-menu"><i class="fas fa-times" id="exit_cross"></i></button>
      <%= @menu_item.name %>
      <div id="price" data-price="<%= @menu_item.price %>">£<%= (@item_quantity * @menu_item.price).round(2) %></div>
    </div>


    <div class="actions">
      <a class="btn round-bordered incrementer"  id="btnMinus" data-offset="-1"><i class="fas fa-minus-circle"></i></a>
      <span id="counter" data-count="1"><%= @item_quantity %></span>



      <a class="btn round-bordered incrementer" id= "btnPlus"  data-offset="1"><i class="fas fa-plus-circle"></i></a>
    </div>



    <%= simple_form_for([@menu_item, @basket_item], input_html: {id:"form_value_quant"})  do |f| %>
      <%= f.input :quantity, as: :hidden, input_html: { value: @item_quantity, id:"input_quant"} %>

      <button type='submit', id="quantbask">
        Add to basket
      </button>


    <% end %>

`;
  basket_item_field.insertAdjacentHTML('beforeend', basket_item);
};
insertBasketItem()




buttonPlus = document.getElementById("btnPlus");
buttonMinus = document.getElementById("btnMinus");
count_display = document.getElementById("counter");
exit_div = document.getElementById('exit_cross');

var price = document.getElementById("price").dataset.price;

counter = <%= @item_quantity %>
console.log(counter);
plus = (data) => {
  buttonPlus.addEventListener("click", (event) => {
    event.preventDefault();
    counter += 1;
    console.log(document.getElementById('price'))
    let new_price = counter * parseFloat(price, 10);
    let n = `£ ${new_price.toFixed(2)} `;
    document.getElementById('price').innerHTML = n;
    console.log(counter * parseFloat(price, 10))
    count_display.innerText = counter;
    // price.value = price + (counter * price)
    // buttonPlus.classList.add('currently-loading')

  });
};

minus = (data) => {
  buttonMinus.addEventListener("click", (event) => {
    event.preventDefault();
    if (counter != 0) {
    counter -= 1;

    }

    let new_price = counter * parseFloat(price, 10);
    let n = `£ ${new_price.toFixed(2)} `;
    document.getElementById('price').innerHTML = n;
    count_display.innerText = counter

  });
};



plus()
minus()
setTimeout(function(){ basket_item_field.classList.add("shrink"); }, 500);


closeBox = (data) => {
  exit_div.addEventListener("click", (event) => {
    event.preventDefault();
      body.classList.remove("layer");
      basket_item_field.classList.add("hidden");
  });
};
quantity = document.getElementById('counter');
bask = document.getElementById('quantbask');


input_quantity = document.getElementById("input_quant").value;
form_value_quant = document.getElementById("new_basket_item")

closeBox_added = (data) => {
  bask.addEventListener("click", (event) => {

    event.preventDefault();

      // give input a class
      // done
      // target the input
      // done
      // update the value with the counter
      document.getElementById("input_quant").value = counter;

      // submit the form
      basket_item_field.classList.remove("shrink");
      body.classList.remove("layer");
      form_value_quant.submit();
  });
};
closeBox_added()

add_hidden = (data) => {
  buttonMinus.addEventListener("click", (event) => {
    event.preventDefault();
    if (count_display.innerHTML == 0) {
        bask.classList.add("hidden");
    };
  });
};
rem_hidden = (data) => {
  buttonPlus.addEventListener("click", (event) => {
    event.preventDefault();

        bask.classList.remove("hidden");
  });
};


add_hidden()
rem_hidden()
closeBox()

