basket_item_field = document.getElementById('basket_item');
body = document.querySelector('.main');
basket_item_field.classList.remove("shrink");
body.classList.add("layer");



if (basket_item_field.classList.contains("hidden")) {
 basket_item_field.classList.remove("hidden")
}



while (basket_item_field.firstChild) {
  basket_item_field.firstChild.remove()
}

insertBasketItem = (data) => {
    basket_item =
    `
    <div class="adding-item">
      <button class="back-menu"><i class="fas fa-times" id="exit_cross"></i></button>
      <%= @menu_item.name %>
      <div id="price" data-price="<%= @menu_item.price %>">£<%= @menu_item.price%></div>
    </div>


    <div class="actions">
      <a class="btn round-bordered incrementer"  id="btnMinus" data-offset="-1"><i class="fas fa-minus-circle"></i></a>
      <span id="counter" data-count="1">1</span>



      <a class="btn round-bordered incrementer" id= "btnPlus"  data-offset="1"><i class="fas fa-plus-circle"></i></a>
    </div>



    <%= simple_form_for([@menu_item, @basket_item], remote: true) do |f| %>
      <%= f.input :quantity, as: :hidden, input_html: { value: 1 } %>

      <button type='submit', id="quantbask">
        Add to basket
      </button>
      <% if current_user.basket %>
        <%= link_to "Basket", user_basket_path(current_user, current_user.basket.id), class: "nav-link"  %>

      <% else %>
      <% end %>

    <% end %>

`;
  basket_item_field.insertAdjacentHTML('beforeend', basket_item);
};
insertBasketItem()
buttonPlus = document.getElementById("btnPlus");
buttonMinus = document.getElementById("btnMinus");
count_display = document.getElementById("counter");
exit_div = document.getElementById('exit_cross');

price = document.getElementById("price").innerHTML;


counter = 1
plus = (data) => {
  buttonPlus.addEventListener("click", (event) => {
    event.preventDefault();
    counter += 1;
    console.log(document.getElementById('price'))
    let new_price = counter * parseFloat(price, 10);
    let n = new_price.toFixed(2);
    document.getElementById('price').innerHTML = n;
    console.log(counter * parseFloat(price, 10))
    count_display.innerText = counter;
    price.value = price + (counter * price)
    // buttonPlus.classList.add('currently-loading')

  });
};

minus = (data) => {
  buttonMinus.addEventListener("click", (event) => {
    event.preventDefault();
    while (counter != 0) {
    counter -= 1;
    }
    let new_price = counter * parseFloat(price, 10);
    let n = new_price.toFixed(2);
    document.getElementById('price').innerHTML = new_price;
    count_display.innerText = counter

  });
};



plus()
minus()
setTimeout(function(){ basket_item_field.classList.add("shrink"); }, 500);


closeBox = (data) => {
  exit_div.addEventListener("click", (event) => {
    event.preventDefault();
      body.classList.remove("layer");
      basket_item_field.classList.add("hidden");
  });
};
quantity = document.getElementById('counter');
bask = document.getElementById('quantbask');

add_hidden = (data) => {
  buttonMinus.addEventListener("click", (event) => {
    event.preventDefault();
    if (count_display.innerHTML == 0) {
        bask.classList.add("hidden");
    };
  });
};


add_hidden()
closeBox()

