<%= link_to new_menu_item_basket_item_path(menuitem), class: "add_basket", remote: true do  %>
  <div class="card-product">
      <% if menuitem.drink_photo.attached? %>
          <%= cl_image_tag(menuitem.drink_photo.key,
           crop: :fit) %>
        <% else %>
          <%= cl_image_tag('barlycoa5vm',
          width: 200, height: 100, crop: :fill) %>
        <% end %>
      <div class="card-product-infos">
        <h2><%= menuitem.name %></h2>
        <p class="pull-left"><strong><%= menuitem.abv %></strong></p>
        <p><strong>£<%= menuitem.price %></strong></p>
      </div>
  </div>
<% end %>
