<div>

  <div class="bar-banner" style="background-image: url('<%= asset_path("bar_banner.jpeg") %>'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
<div class="bar-details">
  <h3><%= @bar.name %></h3>
  <p><%= @bar.address %></p>
</div>
<div class="drink-types">
  <ul class="drink-buttons" list-style="none">

    <%= link_to "#" do %>
      <a href="#beer"><button>Beers</button></a>
    <% end %>
    <%= link_to "#" do %>
      <button>Wine</button>
    <% end %>
    <%= link_to "#" do %>
      <button>Cocktails</button>
    <% end %>
    <%= link_to "#" do %>
      <button>Mocktails</button>
    <% end %>
    <%= link_to "#" do %>
      <button>Soft Drinks</button>
    <% end %>
  </ul>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id="beer">
  TEST
  TEST
  TEST
  TEST
  TEST
  TEST
</div>
</div>
