<div class="container">
  <div class= "main">
    <div id="top-holder">
      <div class="bar-banner" style="background-image: url('<%= asset_path("bar_banner.jpg") %>'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
      <div class="bar-details">
        <h3><%= @bar.name %></h3>
        <p><%= @bar.address %></p>
      </div>
    </div>
    <div class="drink-buttons-arthur" id="drinks-navbar">
      <a data-scroll href="#beer">Beers</a>
      <a data-scroll href="#cocktail">Cocktails</a>
      <a data-scroll href="#wine">Wines</a>
      <a data-scroll href="#mocktail">Mocktails</a>
      <a data-scroll href="#soft_drink">Soft Drinks</a>
    </div>
    <div class="mhresp">
    <% if @bar.menu_items.where(category: 'Beer').any? %>
          <h1 id="beer">Beers</h1>
          <% @bar.menu_items.where(category: 'Beer').find_each do |menuitem| %>
            <%= render 'drink_card', menuitem: menuitem %>
          <% end %>
     <% else %>
     <% end %>

    <% if @bar.menu_items.where(category: 'Cocktail').any? %>
          <h1 id="cocktail">Cocktails</h1>
          <% @bar.menu_items.where(category: 'Cocktail').find_each do |menuitem| %>
            <%= render 'drink_card', menuitem: menuitem %>
          <% end %>
    <% else %>
    <% end %>

    <% if @bar.menu_items.where(category: 'Wine').any? %>
            <h1 id="wine">Wines</h1>
            <% @bar.menu_items.where(category: 'Wine').find_each do |menuitem| %>
              <%= render 'drink_card', menuitem: menuitem %>
            <% end %>
    <% else %>
    <% end %>

    <% if @bar.menu_items.where(category: 'Mocktail').any? %>
            <h1 id="mocktail">Mocktails</h1>
            <% @bar.menu_items.where(category: 'Mocktail').find_each do |menuitem| %>
              <%= render 'drink_card', menuitem: menuitem %>
            <% end %>
    <% else %>
    <% end %>


    <% if @bar.menu_items.where(category: 'Soft Drink').any? %>
            <h1 id="soft_drink">Soft Drinks</h1>
            <% @bar.menu_items.where(category: 'Soft Drinks').find_each do |menuitem| %>
              <%= render 'drink_card', menuitem: menuitem %>
            <% end %>
    <% else %>
    <% end %>
</div>
  </div>






  <!-- </div> -->
    <!-- JAVASCRIPT DYNAMIC MODULAR STICKY BASKET ITEM NEW -->

    <!-- EVENT LISTENER: DISPLAYING THE STICKY BASKET_ITEM ONLY ON CLICK -->


  <div class="basket_item_field stickycool" id="basket_item">

  </div>

  <% if current_user.basket&.basket_items&.any? %>
    <div id="basket_menu">
      <%= link_to 'Basket', basket_path(current_user.basket) %>
    </div>
  <% end %>

</div>



<!-- <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>

<script>
  var scroll = new SmoothScroll('a[href*="#"]');
</script> -->


