<div class="container mhresp">
  <div class= "main">


 <div class="bar-banner" style="background-image: url('<%= asset_path("bar_banner.jpeg") %>'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
<div class="bar-details">
  <h3><%= @bar.name %></h3>
  <p><%= @bar.address %></p>
</div>
<div class="drink-types">
  <ul class="drink-buttons" list-style="none">
    <button>Beer</button>
    <br>
    <button>Wine</button>
    <br>
    <button>Cocktails</button>
    <br>
    <button>Mocktails</button>
    <br>
    <button>Soft Drinks</button>
  </ul>
  </div>

    <h1> Menu</h1>
    <ul>
      <% @bar.menu_items.each do |menuitem| %>
      <li>
        <div >
          <% if  menuitem.drink_photo.attached? %>
            <%= cl_image_tag(menuitem.drink_photo.key,
            width: 200, height: 100, crop: :fill) %>
          <% else %>
            <%= cl_image_tag('barlycoa5vm',
            width: 200, height: 100, crop: :fill) %>
          <% end %>
          <%= menuitem.name %>
          <%= menuitem.price %>
          <%= link_to 'Add to basket', new_menu_item_basket_item_path(menuitem), class: 'btn btn-primary btn_basket', remote: true  %>
        </div>
        <% end %>
      </li>
    </ul>
  </div>







  </div>
    <!-- JAVASCRIPT DYNAMIC MODULAR STICKY BASKET ITEM NEW -->

    <!-- EVENT LISTENER: DISPLAYING THE STICKY BASKET_ITEM ONLY ON CLICK -->


        <div class="basket_item_field stickycool" id="basket_item">

        </div>
</div>


