<div class="manager-backend">
  <h1><%= @bar.name %></h1>
  <div class="traffic-buttons">
    <% @bar.orders.each do |order| %>
      #<%= order.id %>
      <%= order.creation_time %>
      <%= order.order_items.count %> Items (<%=  %>)
        <div class="order-invoice">
          <%= order.id %>
          Order Time: <%= order.created_at %>
          Customer: <%= order.user_id %>
          <div class="notes">
            <%= order.notes %>
          </div>

        </div>
    <% end %>
  </div>
</div>



<% Order.where(bar_id: current_user.bar.id).each do |order| %>
  <div class="order">
    <%= order.id %>
    <%= order.creation_time %>
  </div>
<% end %>




