<div class="page-content p-5" id="content">
    <h1 class="display-4 text-black"><%= @bar.name %></h1>
    <div class="traffic-cards">
      <div class="traffic-card-info">
        <% @bar.orders.each do |order| %>
          <h2 class="order-num">#<%= order.id %></h2>
          <p class="order-info">
            <% total = 0 %> <%= order.order_items.count %> Items <% order.order_items.each do |item| %>
            <% total += item.menu_item_price %>
            <% end %>
            (£<%= total.round(2) %>)</p>
          <% end %>
      </div>
    </div>
    <div class="card-invoice">
          <div class="traffic-card-invoice">
            <% @bar.orders.each do |order| %>
              <%= order.id %>
              Order Time: <%= order.created_at %>
              Customer: <%= order.user_id %>
          </div>
          <div class="notes">
            <%= order.notes %>
          </div>
          <div class="order-details">
            <% order.order_items.each do |item| %>
              <%= item.quantity %> x
              <%= item.menu_item_name %>
              <%= item.menu_item_price %>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
</div>


<% Order.where(bar_id: current_user.bar.id).each do |order| %>
  <div class="order">
    <%= order.id %>
    <%= order.creation_time %>
  </div>
<% end %>




