<div class="page-content p-5" id="content">
  <div class="row">
    <div class="mhresp-dashboard">
      <% triggerCounter = 0 %>
      <% @bar.orders.each do |order| %>



        <% triggerCounter += 1 %>

        <div class="traffic-cards column" id="trigger<%= triggerCounter %>">
          <div class="traffic-card-info">
            <h2 class="order-num">#<%= order.id %></h2>
            <p class="order-info">
              <% total = 0 %> <%= order.order_items.count %> Items <% order.order_items.each do |item| %>
                <% total += item.menu_item_price %>
              <% end %>
              (£<%= total.round(2) %>)
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card-invoice column">
      <% contentCounter = 0 %>
      <% @bar.orders.each do |order| %>
        <%= simple_form_for(order, html: {class: "d-none"}) do |f| %>
          <%= f.input :status, input_html: {value: "making"} %>
          <%= f.input :order_id, input_html: {value: order.id} %>
          <%= f.submit id:"submit_making#{order.id}" %>
        <% end %>

        <%= simple_form_for(order, html: {class: "d-none"}) do |f| %>
          <%= f.input :status, input_html: {value: "done"} %>
          <%= f.input :order_id, input_html: {value: order.id} %>
          <%= f.submit id:"submit_done#{order.id}" %>
        <% end %>

        <% contentCounter += 1 %>
        <div class="trafficContent d-none" id="content<%= contentCounter %>">
          <div class="status">
            <% if order.status == "pending" %>

                    <button class="traffic-light traffic-light-pending" data-id="<%= order.id %>"><i class="fas fa-circle"></i>
                               <p class="status-text">Pending</p></button>
            <% elsif order.status == "making" %>

                     <button class="traffic-light orange" data-id="<%= order.id %>"><i class="fas fa-circle"></i>
                               <p class="status-text">Making</p></button>

            <% end %>

          </div>
          <div class="card-wrapper">
            <div class="traffic-card-invoice ">
              <div>
                <p class="order-tag"><i class="fas fa-tag"></i> ORDER NUMBER: <strong>#<%= order.id %></strong></p>
              </div>
              <p class="order-time"><i class="fas fa-clock"></i> at <strong><%= order.created_at.strftime("%H:%M%p") %></strong></p>
              <p class="note-alert"><i class="fas fa-comment-alt"></i> NOTES: <strong><%= order.notes %></strong></p>
              <p><%= order.status%></p><p><%= order.id%></p>

            </div>
          </div>
          <div class="order-details">
            <p class="details"><i class="fas fa-glass-cheers"></i> DETAILS:</p>
            <% order.order_items.each do |item| %>
              <% @beer = [] %>
              <% @cocktail = [] %>
              <% @mocktail = [] %>
              <% @wine = [] %>
              <% @soft_drink = [] %>
              <% if item.menu_item_category == "Beer" %>
                <% @beer << item %>
              <% end %>
              <% if item.menu_item_category == "Cocktail" %>
                <% @cocktail << item %>
              <% end %>
              <% if item.menu_item_category == "Mocktail" %>
                <% @mocktail << item %>
              <% end %>
              <% if item.menu_item_category == "Wine" %>
                <% @wine << item %>
              <% end %>
              <% if item.menu_item_category == "Soft Drink" %>
                <% @soft_drink << item %>
              <% end %>
              <p class="item-quant"><strong><%= item.quantity %> x <%= item.menu_item_name %></strong> <%= item.menu_item_price %></p>

            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<script type="text/javascript">
  const trafficContentNodeList = document.querySelectorAll('.trafficContent')
  const trafficContent = [...trafficContentNodeList]


  document.querySelectorAll(".traffic-cards").forEach((trigger) => {
    trigger.addEventListener("click", () => {
      trafficContent.forEach((content) => {
        content.classList.add('d-none')
      })

      document.getElementById(`content${trigger.id.split("trigger")[1]}`).classList.remove("d-none")
    });
  });



  const traffic_light = document.querySelectorAll('.traffic-light-pending');

add_orange = (data) => {

  traffic_light.forEach(button => {
    console.log('found traffic-light div')
    button.addEventListener("click", (event) => {

      event.preventDefault();

      event.currentTarget.classList.add('orange');
      document.querySelectorAll('.traffic-light')
      document.getElementById(`submit_making${button.dataset.id}`).click()


      button.children[1].innerHTML = "Making"



        const traffic_light_orange = document.querySelectorAll('.orange');
         add_green = (data) => {
          traffic_light_orange.forEach(button => {

            button.addEventListener("click", (event) => {
              event.preventDefault();
              document.getElementById(`submit_done${button.dataset.id}`).click()
              button.children[1].innerHTML = "Done!"
              event.currentTarget.classList.add('green')
              let trafficContent = document.getElementById(`content${button.dataset.id}`);
              setTimeout(function(){ trafficContent.classList.add('magictime', 'swashOut'); }, 1500);

            });

          })
        };
        add_green();
    });

  })
};

  add_orange();

    if(document.querySelectorAll('.orange')){
          const traffic_light_orange = document.querySelectorAll('.orange');
                 add_green = (data) => {
                  traffic_light_orange.forEach(button => {

                    button.addEventListener("click", (event) => {
                      event.preventDefault();
                      document.getElementById(`submit_done${button.dataset.id}`).click()
                      button.children[1].innerHTML = "Done!"
                      event.currentTarget.classList.add('green')
                      let trafficContent = document.getElementById(`content${button.dataset.id}`);
                      setTimeout(function(){ trafficContent.classList.add('magictime', 'swashOut'); }, 1500);
                    });

                  })
                };
                add_green();
    }


</script>



