<div class="container">
  <div class="angled" style="top: -10px">

  <h1 class="user_order_heading">Your Orders:</h1>



  <h2 class="user_order_heading"> Active Orders:</h2>
  <% @orders.where(status: "pending").each do |order| %>
  <div style="color: black">
    #<%= order.id %>
    Notes: <%= order.notes %>

  </div>
  <% end %>

  <% @orders.where(status: "pending").each do |order| %>
  <div style="color: black">
    #<%= order.id %>
    Notes: <%= order.notes %>


  </div>
  <% end %>

  <h2 class="user_order_heading">Past Orders:</h2>

  <% @orders.where(status: "pending").each do |order| %>
  <div  style="color: black">
    #<%= order.id %>
    Notes: <%= order.notes %>

  </div>
  <% end %>


  <div>
  </div>
  </div>
</div>
