<div class="my-banner" style="background-image: url('<%= asset_path("barly_gb.svg") %>'); background-repeat: no-repeat; background-size: cover; background-position: center;">
  <div class="direction">
    <h1><strong> Order Sent!</strong> </h1>

    <h2> Order ID:  <%= @order.id  %>  </h2>

    <div class= "order_and_gif">
      <div class="order_content">
          <% OrderItem.where(order: Order.last).each do |item| %>
          <div class="item_card_order">
            <div>
                <%= item.quantity %> X
                <br>
            </div>

            <div>
                <%= item.menu_item_name %>
            </div>
            <div>
                <%= item.menu_item_price %>
            </div>
          </div>
          <br>
          <% end %>
      </div>
      <img src="https://media.giphy.com/media/DRAIHiTMMsgww/giphy.gif" class="gif">
    </div>



  </div>
</div>
