<div class="container">



  <div class="my-banner" style="background-image: url('<%= asset_path("barly_gb.svg") %>'); background-repeat: no-repeat; background-size: cover; background-position: center;">

    <div class="order-direction">
         <h1><strong> Order Sent <i class="fas fa-check-circle"></i></strong> </h1>

      <h6> Your Order ID:  <%= @order.id  %>  </h6>

      <div class= "order-order_and_gif">
        <div class="order-order_content">
          <div class="order-spacer">
          </div>
          <% OrderItem.where(order: Order.last).each do |item| %>
          <div class="order-item_card_order">
            <div>
              <%= item.quantity %> X
            </div>
            <div>
              <%= item.menu_item_name %>
            </div>
            <div>
              <%= item.menu_item_price %>
            </div>
          </div>
          <% raise %>

          <% end %>

        </div>




      </div>






    </div>
  </div>
</div>
