<div class="container">


  <div class="login-container">


    <div class="form-container">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, label: false, placeholder: 'Email',  required: false, autofocus: true,
        input_html: { autocomplete: "email" } %>
        <%= f.input :password, label: false, placeholder: 'Password',
        required: false,
        input_html: { autocomplete: "current-password" } %>

        <div class="login-actions">

          <div>
            <%= f.input :remember_me, class: 'login-password', as: :boolean if devise_mapping.rememberable?  %>
            <!-- </div> -->
          </div>

        </div>
      </div>



      <div class="form-actions">
        <div class="buttton-form-actions">
           <%= f.button :submit, "Log in", class:"user_signin_button" %>
         <h6 class="user-options">- Or -</h6>
          <%= link_to "Sign Up", new_user_registration_path, class: "new-user_signin_button" %>
       </div>


     </div>
     <% end %>
   <%= link_to "Forgot password?", new_password_path(resource_name), class: 'login-password' %>

   </div>

 </div>



</div>

</div>




